
  <!-- START Display the user details based on the search -->
<div class="container">
  <div class="d-flex justify-content-between">
    <%= form_tag restaurant_bookings_path(@restaurant), method: :get do %>
      <div class="d-flex m-2">
        <%= text_field_tag :search,
                            params[:search],
                            class: "form-control",
                            placeholder: "Insert User ID"%>

        <%= submit_tag "ðŸ” Search", class: "search_uid_bookings"  %>

        <h6 style="color: red"><%= @error_message if @user.nil?  %></h6>
      </div>
    <% end %>
  </div>


  <% unless @user.nil? %>

        <div class="availability d-flex justify-content-around" id="availability">
          <div class="form-wrapper mr-3" style="width: 270px;">
            <h1><i class="far fa-calendar-alt"></i></h1>

            <%= simple_form_for(:booking_search,
                                method: "get",
                                url: available_restaurant_bookings_path(@restaurant),
                                remote: true ) do |f| %>

              <%= f.hidden_field :user, value: @user.secure_id %>
              <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.button :submit, "Check availability",class: "search_uid_bookings"%>
            <% end %>
          </div>
        </div>


    <div class="card mb-4 p-2 m-2 main-preferences">
      <h2><%= @user.first_name %>'s Preferences</h2>
      <div class="row">
        <% @user.categories.each do |category| %>
          <div class="col-12 col-sm-3">
            <h3><%= category.name.capitalize %></h3>
            <% category.preferences.each do |preference| %>
              <ul class="preferences">
                <li> <i class="fa fa-heart mx-1"></i> <%= preference.name.capitalize %>: <%= preference.description.capitalize %></li>
              </ul>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>


  <% end %>
</div>

<!-- END of user details -->


