<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to "/" do %>
    <%= image_tag "logo.png", alt: "YouKnowMe", class: 'navbar-logo' %>
  <% end %>


  <div class="" id="">
    <ul class="navbar-right">
      <% if user_signed_in? %>
          <h6 class="mr-3" style="margin-top: 15px">Welcome <strong><%= current_user.first_name %> <%= current_user.last_name[0] %>. </strong></h6>
        <li class="nav-item dropdown">
          <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false   %>
          <% else %>
            <%= image_tag "avatar-placeholder.jpeg",  alt: 'avatar' , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Home", "/", class: "dropdown-item" %>
            <% if policy(Category).new? %>
              <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            <% end %>
            <% if policy(Restaurant).show? %>
              <%= link_to "Dashboard", restaurants_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
