<div class="container">
  <% @categories.each do |category| %>
  <div class="col12">
    <h2>Category: <%= category.name %></h2>
    <% category.preferences.each do |preference| %>
      <h5>Preference: <%= preference.name %> : <%= preference.description %></h5>


      <div class="d-flex">
        <%= link_to 'edit preference',
        edit_category_preference_path(category, preference),
        method: 'get',
        class: 'btn btn-xs btn-warning m-2 p-2' %>
        <%= link_to 'delete preference',
        category_preference_path(category, preference),
        method: 'delete',
        data: { confirm: "Are you sure you want to delete this preference?" },
        class: 'btn btn-xs btn-danger m-2 p-2' %>
      </div>
    <% end %>
      <div class="d-flex">
        <%= link_to 'add preference',
        new_category_preference_path(category),
        class: 'btn btn-xs btn-info m-2 p-2' %>
        <%= link_to 'edit category',
        edit_category_path(category),
        class: 'btn btn-xs btn-warning m-2 p-2 rounder' %>
        <%= link_to 'delete category',
        category_path(category),
        method: 'delete',
        data: { confirm: "Are you sure you want to delete this category?" },
        class: 'btn btn-xs btn-danger m-2 p-2 rounder' %>
      </div>
  <% end %>


  </div>
</div>
