<!-- display everything related to specific user -->

<div class="main-container">
  <div class="welcome-page">
    <img class="avatar"  src="https://kitt.lewagon.com/placeholder/users/alex4tm">
  </div>

  <div class= "hex-code">
    <h1>HEX CODE</h1>
  </div>

  <div class= "bookings-box">
    <h1>your future bookings</h1>

      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1525648199074-cee30ba79a4a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" />
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>


      <div class="card-product">
        <img src="https://images.unsplash.com/photo-1520796120829-b40ec9df80b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" />
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
  </div>
<!-- <div class="main-container">

  <div class= "dashboard">
    <div class="d-flex p-1 mt-3 justify-content-center">
      <%= link_to '',
      new_category_path(@category),
      class: "fas fa-plus crud-items btn btn-primary text-white" %>
    </div>
    <% @categories.each do |category| %>
    <div class="white-card">
      <div class="d-flex align-items-center">

      <h2><%= category.name.capitalize %></h2>
      <%= link_to '',
        new_category_preference_path(category),
        class: "fas fa-plus p-2 mb-1 crud-items" %>
      </div>
      <% category.preferences.each do |preference| %>
        <div class="preferences">
          <h5> <i class="fa fa-heart mx-1"></i> <%= preference.name.capitalize %>: <%= preference.description.capitalize %></h5>
            <div class="ml-3">
            <%= link_to '',
            edit_category_preference_path(category, preference),
            method: 'get',
            class: 'fa fa-edit' %>
            <%= link_to '',
            category_preference_path(category, preference),
            method: 'delete',
            data: { confirm: "Are you sure you want to delete this preference?" },
            class: 'fa fa-trash' %>
            </div>
        </div>
      <% end %>
      <div class="crud">
        <%= link_to '',
        new_category_preference_path(category),
        class: "fas fa-plus crud-items" %>
        <%= link_to '',
        edit_category_path(category),
        class: 'fa fa-edit crud-items' %>
        <%= link_to '',
        category_path(category),
        method: 'delete',
        data: { confirm: "Are you sure you want to delete this category?" },
        class: 'fa fa-trash crud-items' %>
      </div>
    </div>
    <% end %>
   </div>
</div> -->

<div class="bottom-box">
  <div >
    <a href="your link here"><i class="fas fa-backward"></i>
    <a href="your link here">
    <a href="your link here"><i class="fas fa-heart"></i>
  </div>

</div>
