
<!-- display everything related to specific user -->
<!-- Take navbar from shared components -->

  <!-- USER FUTURE BOOKINGS -->
  <section>
    <h6>Your preferences:</h6>
      <!-- <div class="uuid">
         <h4 class="btn">Your secure ID <%= current_user.secure_id %> </h4>
         <%= link_to '',
          reset_uid_path, method: 'patch',
          class: "fas fa-sync-alt p-2 mb-1 crud-items" %>
      </div> -->

      <% current_user.categories.each do |category| %>
      <div class="card mb-3 p-2 rounded">
        <div class="d-flex align-items-center mb-3">

          <h4 class="mb-0"><%= category.name.capitalize %></h4>

          <div class="d-flex ml-2">
            <%= link_to '',
              edit_category_path(category),
              class: 'fa fa-edit crud-items' %>

            <%= link_to '',
              category_path(category),
              method: 'delete',
              data: { confirm: "Are you sure you want to delete this category?" },
              class: 'fa fa-trash crud-items' %>
          </div>

        </div>

        <div>

          <% category.preferences.each do |preference| %>
            <div class="fw-light p-1 py-2 border d-flex justify-content-between align-items-center p-1 mb-2">
              <p class="mb-0 fw-light"> <i class="fa fa-heart mx-1"></i> <%= preference.name.capitalize %>: <%= preference.description.capitalize %></p>
              <div class="ml-3 d-flex">
                <%= link_to '',
                          edit_category_preference_path(category, preference),
                          method: 'get',
                          class: 'fa fa-edit' %>

                <%= link_to '',
                          category_preference_path(category, preference),
                          method: 'delete',
                          data: { confirm: "Are you sure you want to delete this preference?" },
                          class: 'fa fa-trash' %>
              </div>
            </div>
          <% end %>

          <%= link_to '',
            new_category_preference_path(category),
            class: "fas fa-plus p-2 mb-1 btn btn-primary text-white w-100" %>
        </div>
      </div>
    <% end %>
  </section>
