<section>

  <div id="preference-card" class="dash-white-card">
    <h6>Your Bookings</h6>
  </div>

<div class=" calendar-main">

<%= calendar attribute: :start_date, events: @bookings do |date, meetings| %>
  <p class="calendar-date"><%= date.strftime("%d") %></p>

  <% meetings.each do |meeting| %>
    <div class="calendarbody">
      <%= meeting.restaurant.name.capitalize %>
      <p>@</p>
      <%= meeting.start_date.strftime("%I:%M %p") %>
    </div>
  <% end %>
<% end %>

</div>

  <% @bookings.each do |booking| %>
    <%= link_to navigate_path(booking.restaurant) do %>
      <div class="card-product mb-3 p-2 dash-white-card">
        <% if booking.restaurant.photo.attached? %>
          <%= cl_image_tag booking.restaurant.photo.key %>
        <% end %>
        <div class="card-product-infos">
          <h6> <strong><%= booking.restaurant.name %></strong> </h6>
          <p> <%= booking.start_date.strftime("%d of %B, %Y") %> </p>
          <p> <%= booking.start_date.strftime("%I:%M %p")     %> </p>
          <p> number of guests :<%= booking.number_of_guests%> </p>
        </div>
      </div>
    <% end %>


  <% end %>
</section>
