<!DOCTYPE html>
<html>
  <head>
    <title>PA-2.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <div class="page-container vh-100 overflow-scroll position-relative">

      <%= render 'shared/flashes' %>
     <div class="main-container">

      <!-- USER DESCRIPTION -->
      <section class="d-flex pb-2">
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, class: "avatar mr-2"  %>
        <% else %>
          <%= image_tag "placeholder-alex.jpg", class: "avatar mr-2" %>
        <% end %>

        <h2 class="mt-2">Welcome <%= current_user.first_name %>! </h2>
        <!-- <h2><%= current_user.phone_number %>! </h2>
        <h2><%= current_user.email %>! </h2> -->
      </section>

      <!-- HEX CODE OR QR CODE -->
      <section id="info-wrapper" class="hex-code text-center">
        <div class="justify-content-between align-items-center">

          <p class="d-flex align-items-inbetween"><%= current_user.secure_id %>
            <i id="qr-arrow" class="fas fa-arrow-circle-down qr-arrow"></i>
<!--             <i class="fas fa-arrow-circle-up"></i> -->
          </p>



          <span id="qr-code" class="open-close hidden"><%= @svg.html_safe %></span>

        </div>
      </section>

        <%= yield %>
      </div>

      <div class= "navbar-bottom position-fixed h-15 bottom-0 left-0 right-0 d-flex justify-content-around align-items-center">


          <%= link_to dashboard_path, class: "crud-items" do %>
            <i class="fas fa-home"></i>
            <h6>Home</h6>
          <% end %>

        <%= link_to edit_profile_path, class: "crud-items" do %>
          <i class="fas fa-user-edit"></i>
          <h6>Profile</h6>
        <% end %>

        <%= link_to my_bookings_path, class: "crud-items" do %>
          <i class="fas fa-book"></i>
          <h6>Bookings</h6>
        <% end %>

        <%= link_to new_category_path(@category), class: "crud-items", data: {toggle: "modal", target: "#exampleModal"} do %>
          <i class="fas fa-plus"></i>
          <h6>Add</h6>
        <% end %>
      </div>





      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLabel">Add a new category</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <%= simple_form_for (@category) do |f| %>
                <%= f.input :name %>
                <%= f.submit 'Create', class: 'btn btn-primary' %>
              <% end %>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

      <%#= render "shared/footer" %>
    </div>
  </body>
</html>
