<!DOCTYPE html>
<html>
  <head>
    <title>PA-2.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <div class="page-container vh-100 overflow-scroll position-relative">
      <%= render "shared/navbar" %>
      <%= render 'shared/flashes' %>
      <div class="main-container mb-5">
        <!-- USER DESCRIPTION -->
        <section class = "welcome-box d-flex">
          <img class="avatar mr-2"  src="https://kitt.lewagon.com/placeholder/users/alex4tm">
          <h2>Welcome <%= current_user.first_name %>! </h2>
        </section>

        <!-- HEX CODE OR QR CODE -->
        <section class = "hex-code mb-3 p-3 text-center">
          <p class="mb-3"><%= current_user.secure_id %></p>

          <p class="mb-3"><i class="fas fa-qrcode"></i></p>
        </section>

        <%= yield %>
      </div>

      <div class= "navbar-bottom position-fixed h-15 bottom-0 left-0 right-0 d-flex justify-content-around align-items-center">
        <a href="/dashboard"><i class="fas fa-home ml-2"></i></i> &nbsp;

        <%= link_to '',my_bookings_path,
                      class: "fas fa-book p-2 mb-1 crud-items" %>

        <%= link_to '',new_category_path(@category),
                      class: "fas fa-plus p-2 mb-1 crud-items" %>
      </div>
      <%#= render "shared/footer" %>
    </div>
  </body>
</html>
